.sub-topics {
  max-width: 300px;
  min-width: 220px;
  position: absolute;
  top: 56px;
  list-style: none;
  text-align: start;
  z-index: 1;
}

.sub-topics li {
  background: #111827;
  cursor: pointer;
}

.sub-topics li:hover {
  background: #ccd8e9;
}

.sub-topics.clicked {
  display: none;
}

.sub-topic-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.fa-user {
  margin-right: 15px;
}

.fa-sign-out-alt {
  margin-right: 15px;
}

.sub-topic-link:hover {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 993px) {
  .sub-topics {
    width: 100%;
    top: 320px;
    list-style: none;
    text-align: center;
  }
}
