:root {
  --primary: #c4e2f3;
}

.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

.app-button {
  text-transform: none;
  width: 100%;
  border-radius: 6px !important;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px !important;
  background-color: #fff !important;
  border: 2px solid #007bff !important;
  color: black !important;
}

.app-button:hover {
  background-color: #1f2937 !important;
  color: #fff !important;
  font-weight: 300 !important;
}

.icon-google {
  margin-bottom: 3px;
  margin-right: 5px;
}
