.header {
  background: #1f2937;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.header-logo {
  color: #fff;
  justify-self: start;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 1.5rem;
}

.fa-blog {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.header-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  align-items: center !important;
  margin-right: 2rem;
  margin-bottom: 0 !important;
  line-height: 1 !important;
}

.head-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.head-links {
  color: white;
  text-decoration: none !important;
  padding: 0.5rem 1rem;
}

.head-links:hover {
  background-color: #fff;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.head-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 993px) {
  .NavbarItems {
    position: relative;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh !important;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .header-menu.visible {
    background: #1f2937;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .head-item {
    width: 100%;
  }

  .head-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .head-links:hover {
    background-color: #fff;
    color: black;
    width: 95%;
    border-radius: 0;
  }

  .header-logo {
    position: absolute;
    font-size: 2rem;
    top: 0;
    left: 35%;
    transform: translate(25%, 50%);
    text-decoration: none !important;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-blog {
    font-size: 2rem;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .head-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #fff;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }

  .head-links-mobile:hover {
    background: #1f2937;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 250ms;
    text-decoration: none;
  }

  .header-menu.visible li {
    width: 100%;
  }

  .head-button {
    display: none;
  }

  /* .fa-caret-down {
    display: none;
  } */
}
